body {
  background-color: rgba(62, 52, 52, 0.434)
}
header {
  padding: 10px;
}
ul {
 list-style-type: none;
 width: 100%;
 display: flex;
 justify-content: space-around;
}
ul li a {
  color:black;
  text-decoration: none;
}
.hide {
  display: none
}

/* at 725 turn nav into hamburger menu */